* {
  box-sizing: border-box;
  margin: 0;
  background-color: #000044;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$white-color: #efede5;

@mixin buttons {
  padding: 5px;
  width: 100px;
  cursor: pointer;
  border: none;
  background-color: #d36767;
  border-radius: 4px;
  color: $white-color;
}

@mixin score {
  color: $white-color;
  font-size: 30px;
  @include flexCenter;
}

body {
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.form {
  height: 10vh;
  @include flexCenter;
  #nickname {
    padding: 5px;
    box-sizing: border-box;
    border: none;
    background-color: $white-color;
    outline: none;
    border-radius: 4px;
  }
  #submit {
    @include buttons;
  }
}

.players {
  height: 80vh;
  width: 100%;
  display: flex;
  .leftPlayer {
    width: 50%;
    height: 100%;
    @include flexCenter;
    flex-direction: column;
    .score1 {
      .player1score {
        @include score;
      }
    }
    .handGesture {
      width: 304px;
      height: 268px;
      background-repeat: no-repeat;
      transform: scalex(-1);
      background-image: url("images/rock.png");
    }
  }
  .rightPlayer {
    width: 50%;
    height: 100%;
    @include flexCenter;
    flex-direction: column;
    .score2 {
      .player2score {
        @include score;
      }
    }
    .handGesture2 {
      width: 304px;
      height: 268px;
      background-repeat: no-repeat;
      background-image: url("images/rock.png");
    }
  }
}

.popupField {
  height: 500px;
  width: 100%;
  background-color: #000044;
  @include flexCenter;
  .popup {
    height: 100%;
    width: 50%;
    border-radius: 4px;
    background-color: $white-color;
    @include flexCenter;
    flex-direction: column;
    .playButton {
      width: 100px;
      height: 100px;
      background-image: url("images/play-button.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      background-color: $white-color;
      border: none;
      cursor: pointer;
    }
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
      background-color: $white-color;
      div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: black;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
      }
      div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
      }
    }
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}

.leftButtons,
.rightButtons {
  width: 50%;
  @include flexCenter;

  .buttons,
  .buttons2 {
    @include buttons;
    margin-right: 10%;
  }
}

.handAnimation {
  background-image: url("images/rock.png");
  animation: shake 0.5s;
  animation-iteration-count: 2s;

  @keyframes shake {
    0% {
      transform: scaleX(-1) translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: scaleX(-1) translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: scaleX(-1) translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: scaleX(-1) translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: scaleX(-1) translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: scaleX(-1) translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: scaleX(-1) translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: scaleX(-1) translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: scaleX(-1) translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: scaleX(-1) translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: scaleX(-1) translate(1px, -2px) rotate(-1deg);
    }
  }
}

.handAnimation2 {
  background-image: url("images/rock.png");
  animation: shake2 0.5s;
  animation-iteration-count: 2s;

  @keyframes shake2 {
    0% {
      transform: scaleX(1) translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: scaleX(1) translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: scaleX(1) translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: scaleX(1) translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: scaleX(1) translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: scaleX(1) translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: scaleX(1) translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: scaleX(1) translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: scaleX(1) translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: scaleX(1) translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: scaleX(1) translate(1px, -2px) rotate(-1deg);
    }
  }
}

.allButtons {
  display: flex;
}
