* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background-color: #000044;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.form {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form #nickname {
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #efede5;
  outline: none;
  border-radius: 4px;
}

.form #submit {
  padding: 5px;
  width: 100px;
  cursor: pointer;
  border: none;
  background-color: #d36767;
  border-radius: 4px;
  color: #efede5;
}

.players {
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.players .leftPlayer {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.players .leftPlayer .score1 .player1score {
  color: #efede5;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.players .leftPlayer .handGesture {
  width: 304px;
  height: 268px;
  background-repeat: no-repeat;
  -webkit-transform: scalex(-1);
          transform: scalex(-1);
  background-image: url("images/rock.png");
}

.players .rightPlayer {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.players .rightPlayer .score2 .player2score {
  color: #efede5;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.players .rightPlayer .handGesture2 {
  width: 304px;
  height: 268px;
  background-repeat: no-repeat;
  background-image: url("images/rock.png");
}

.popupField {
  height: 500px;
  width: 100%;
  background-color: #000044;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popupField .popup {
  height: 100%;
  width: 50%;
  border-radius: 4px;
  background-color: #efede5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popupField .popup .playButton {
  width: 100px;
  height: 100px;
  background-image: url("images/play-button.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: #efede5;
  border: none;
  cursor: pointer;
}

.popupField .popup .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #efede5;
}

.popupField .popup .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.popupField .popup .lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.popupField .popup .lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.popupField .popup .lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.popupField .popup .lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

.leftButtons,
.rightButtons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leftButtons .buttons,
.leftButtons .buttons2,
.rightButtons .buttons,
.rightButtons .buttons2 {
  padding: 5px;
  width: 100px;
  cursor: pointer;
  border: none;
  background-color: #d36767;
  border-radius: 4px;
  color: #efede5;
  margin-right: 10%;
}

.handAnimation {
  background-image: url("images/rock.png");
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: 2s;
          animation-iteration-count: 2s;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: scaleX(-1) translate(1px, 1px) rotate(0deg);
            transform: scaleX(-1) translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: scaleX(-1) translate(-1px, -2px) rotate(-1deg);
            transform: scaleX(-1) translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: scaleX(-1) translate(-3px, 0px) rotate(1deg);
            transform: scaleX(-1) translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: scaleX(-1) translate(3px, 2px) rotate(0deg);
            transform: scaleX(-1) translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: scaleX(-1) translate(1px, -1px) rotate(1deg);
            transform: scaleX(-1) translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: scaleX(-1) translate(-1px, 2px) rotate(-1deg);
            transform: scaleX(-1) translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: scaleX(-1) translate(-3px, 1px) rotate(0deg);
            transform: scaleX(-1) translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: scaleX(-1) translate(3px, 1px) rotate(-1deg);
            transform: scaleX(-1) translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: scaleX(-1) translate(-1px, -1px) rotate(1deg);
            transform: scaleX(-1) translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: scaleX(-1) translate(1px, 2px) rotate(0deg);
            transform: scaleX(-1) translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: scaleX(-1) translate(1px, -2px) rotate(-1deg);
            transform: scaleX(-1) translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: scaleX(-1) translate(1px, 1px) rotate(0deg);
            transform: scaleX(-1) translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: scaleX(-1) translate(-1px, -2px) rotate(-1deg);
            transform: scaleX(-1) translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: scaleX(-1) translate(-3px, 0px) rotate(1deg);
            transform: scaleX(-1) translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: scaleX(-1) translate(3px, 2px) rotate(0deg);
            transform: scaleX(-1) translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: scaleX(-1) translate(1px, -1px) rotate(1deg);
            transform: scaleX(-1) translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: scaleX(-1) translate(-1px, 2px) rotate(-1deg);
            transform: scaleX(-1) translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: scaleX(-1) translate(-3px, 1px) rotate(0deg);
            transform: scaleX(-1) translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: scaleX(-1) translate(3px, 1px) rotate(-1deg);
            transform: scaleX(-1) translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: scaleX(-1) translate(-1px, -1px) rotate(1deg);
            transform: scaleX(-1) translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: scaleX(-1) translate(1px, 2px) rotate(0deg);
            transform: scaleX(-1) translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: scaleX(-1) translate(1px, -2px) rotate(-1deg);
            transform: scaleX(-1) translate(1px, -2px) rotate(-1deg);
  }
}

.handAnimation2 {
  background-image: url("images/rock.png");
  -webkit-animation: shake2 0.5s;
          animation: shake2 0.5s;
  -webkit-animation-iteration-count: 2s;
          animation-iteration-count: 2s;
}

@-webkit-keyframes shake2 {
  0% {
    -webkit-transform: scaleX(1) translate(1px, 1px) rotate(0deg);
            transform: scaleX(1) translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: scaleX(1) translate(-1px, -2px) rotate(-1deg);
            transform: scaleX(1) translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: scaleX(1) translate(-3px, 0px) rotate(1deg);
            transform: scaleX(1) translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: scaleX(1) translate(3px, 2px) rotate(0deg);
            transform: scaleX(1) translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: scaleX(1) translate(1px, -1px) rotate(1deg);
            transform: scaleX(1) translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: scaleX(1) translate(-1px, 2px) rotate(-1deg);
            transform: scaleX(1) translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: scaleX(1) translate(-3px, 1px) rotate(0deg);
            transform: scaleX(1) translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: scaleX(1) translate(3px, 1px) rotate(-1deg);
            transform: scaleX(1) translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: scaleX(1) translate(-1px, -1px) rotate(1deg);
            transform: scaleX(1) translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: scaleX(1) translate(1px, 2px) rotate(0deg);
            transform: scaleX(1) translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: scaleX(1) translate(1px, -2px) rotate(-1deg);
            transform: scaleX(1) translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake2 {
  0% {
    -webkit-transform: scaleX(1) translate(1px, 1px) rotate(0deg);
            transform: scaleX(1) translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: scaleX(1) translate(-1px, -2px) rotate(-1deg);
            transform: scaleX(1) translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: scaleX(1) translate(-3px, 0px) rotate(1deg);
            transform: scaleX(1) translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: scaleX(1) translate(3px, 2px) rotate(0deg);
            transform: scaleX(1) translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: scaleX(1) translate(1px, -1px) rotate(1deg);
            transform: scaleX(1) translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: scaleX(1) translate(-1px, 2px) rotate(-1deg);
            transform: scaleX(1) translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: scaleX(1) translate(-3px, 1px) rotate(0deg);
            transform: scaleX(1) translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: scaleX(1) translate(3px, 1px) rotate(-1deg);
            transform: scaleX(1) translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: scaleX(1) translate(-1px, -1px) rotate(1deg);
            transform: scaleX(1) translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: scaleX(1) translate(1px, 2px) rotate(0deg);
            transform: scaleX(1) translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: scaleX(1) translate(1px, -2px) rotate(-1deg);
            transform: scaleX(1) translate(1px, -2px) rotate(-1deg);
  }
}

.allButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */